*{
  font-family: 'Be Vietnam', sans-serif;

}

main{
  text-align: center;

}
#background{
    background-color:#ccc;
    position:fixed;
    height:100%;
    width: 100%;
    top:0px;
    left:0px;
    z-index:1000;
    overflow: scroll;
    box-sizing:border-box;
    margin:auto;
}
#welcome_header{
  padding-top: 3%;
  padding-bottom: 2%;
  font-size: 3em;
  background-image: linear-gradient(to bottom right, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#navMenu{
  list-style-type: none;
  padding-bottom:2%;
  margin:auto;
}
ul{
  padding:0;
}
li{
  display:inline-block;
  padding: 1%;
  background-color: black;
  border: 2px solid black;
  border-radius: 3px;
  margin:auto;
}
li:hover{
  background-color: white;
  border: 2px solid white;
}
li:hover > a{
  color:black;
}
a{
  color:white;
  text-decoration: none;
  margin:auto;
}
#card1{
  /* max-width:40%; */
  box-sizing: border-box;
  width: 50%;
  text-align: center;
  margin:auto;
  padding-bottom: 2%;
}
#videosText{
  display:inline-block;
  margin:0;
  width: 30%;
  text-align: justify;
  margin:0;
  padding: 0;
  padding-right: 10px;
  vertical-align: top;
}
#videoPlayer{
  display:inline-block;
  overflow: hidden;
}
#card2{
  width:50%;
  text-align: center;
  margin:auto;
  padding-bottom: 2%;
}
#pdfPresenter{
  display:inline-block;
  padding-right: 10px;
}
#pdf{
  height: 315px;
  width: 100%;
}
#pdfText{
  vertical-align: top;
  display:inline-block;
  margin:0;
  width: 30%;
  text-align: justify;
}
